// Variables
$borderclr: rgb(218, 220, 224);
$linkfont: 'Candara';

// Imports 
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

body {
    margin: 10px;
    padding: 0;
    // background-color: rgb(66, 1, 66);
    // Add a bg color if you want to 
}

.navbar {
    padding: 1.5%;
    border-bottom: 1px solid $borderclr;
    min-height: 5vh;
    // background-color: peachpuff;

    .container {
        display: flex;
        place-content: space-between;
        padding: 8px 5% 3px 5%;
    }

    nav {
        padding-left: 10px;
    }

    ul, li {
        display: flex;

        a {
            margin-right: 1em;
            text-decoration: none;
            color: rgb(82, 82, 82);
            font-family: $linkfont;
            border-bottom: 1px solid $borderclr;
            padding: 0 3px;

        }

        a:hover {
            border-bottom: 2px solid rgb(0, 255, 76);
        }

    }

    ul {
        padding: 0;
        margin: 0;
    }

}

// css for footer
.Contact {
    padding: 2vh;
    border-top: 1px solid $borderclr;
    font-family: 'Dongle';
    font-size: 2em;

    h3 {
        margin: 0;
    }

    .social-media {
    }

    .contact {
        ul {
            font-size: 0.8em;
            
            span {
                display: flex;
                margin: 2% 0;

                a {
                    padding-left: 2%;
                    font-family: $linkfont;
                    font-size: 0.6em;
                }

                .address {
                    margin-left: 2%;
                }
            }
        }
    }
}