// Variables
$borderclr: rgb(193, 194, 196);
$linkfont: 'Candara';

// Imports 
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
body {
    margin: 10px;
    padding: 0;
}

svg {
    width: 100px;
    height: 100px;
}

.navbar {
    position: sticky;
    top: 0;
    padding: 1.5%;
    border-bottom: 1px solid $borderclr;
    min-height: 5vh;
    background-color: peachpuff;
    border-radius: 20px;
    margin-bottom: 10px;

    .container {
        display: flex;
        place-content: space-between;
        padding: 8px 5% 3px 5%;

        #logo {
            margin-left: 7%;
        }

        h1 {
            color:rgb(70, 209, 66);
            font-family: 'Lobster';
            margin: 0;
            font-size: 4em;
            background-image: linear-gradient(to right, #2193b0, #6dd5ed);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            color: transparent;
        }
    }

    nav {
        padding-left: 10px;
        margin: auto 0;
    }

    ul, li {
        display: flex;

        a {
            margin-right: 1em;
            text-decoration: none;
            color: rgb(82, 82, 82);
            font-family: $linkfont;
            border-bottom: 1px solid $borderclr;
            padding: 0 3px;
            font-size: 1.2em;

        }

        a:hover {
            border-bottom: 2px solid rgb(0, 255, 76);
        }

    }

    ul {
        padding: 0;
        margin: 0;
    }

    img {
        width: 30px;
        height: 30px;
    }

}

// css for footer
.Contact {
    padding: 2vh;
    border-top: 1px solid $borderclr;
    font-family: 'Dongle';
    font-size: 2em;
    background-color: peachpuff;
    border-radius: 20px;
    margin-top: 10px;

    h3 {
        margin: 0;
    }

    .social-media  img {
        width: 50px;
        height: 50px;
       
    }

    .icons {
        height: 100px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 3%;
    }

    .contact {
        ul {
            font-size: 0.8em;
            
            span {
                display: flex;
                margin: 2% 0;

                a {
                    padding-left: 2%;
                    font-family: $linkfont;
                    font-size: 0.6em;
                }

                .address {
                    margin-left: 2%;
                }
            }
        }
    }
}