$borderclr: rgb(218, 220, 224);
$linkfont: 'Candara';

body {
    margin: 0;
    padding: 0;
    // Add a bg color if you want to 
}

.navbar {
    padding: 1.5%;
    border-bottom: 1px solid $borderclr;
    min-height: 5vh;

    .container {
        display: flex;
        place-content: space-between;
        padding: 8px 5% 3px 5%;
    }

    nav {
        border-bottom: 1px solid $borderclr;
        padding-left: 10px;
    }

    ul, li {
        display: flex;

        a {
            margin-right: 1em;
            text-decoration: none;
            color: grey;
            font-family: $linkfont;
        }

        a:hover {
            border-bottom: 2px solid red;
        }
    }

    ul {
        padding: 0;
        margin: 0;
    }

}